@import 'imports/main-imports';

.navPrimary {
  display: block;
}

.menuPrimaryNavContainer {
  background: $primary--white;
  box-shadow: 0 16px 24px rgba($grey--dark, 0.16);
  display: none;
  left: 0;
  padding-bottom: 24px;
  padding-top: 34px;
  position: absolute;
  top: 74px;
  width: 100%;
  /* Hide scroll bar on IE and Edge */
  -ms-overflow-style: none;

  @include mq-md-up {
    padding-top: 0;
  }

  &:hover ul li a::after {
    @include mq-md-up {
      background-position: -24px -24px;
      transition: color 0.32s ease-in-out, opacity 0.32s ease-in-out;
    }
  }

  a:hover {
    opacity: 1;
    transition: color 0.32s ease-in-out, opacity 0.32s ease-in-out;
    cursor: default !important;
  }

  a > div:hover {
    color: $blue-navitems;
    transition: color 0.32s ease-in-out, opacity 0.32s ease-in-out;
    cursor: pointer !important;
  }

  a p {
    cursor: pointer;
  }

  figure:hover {
    cursor: pointer !important;
  }

  &.active {
    display: block;
    max-height: calc(100vh - 40px);
    overflow-x: hidden;
    overflow-y: scroll;
  }

  &.mobileScroll {
    @include mq-md-up {
      height: unset;
    }
  }

  @include mq-md-up {
    box-shadow: none;
    display: block;
    margin-top: 0;
    padding-bottom: 0;
    position: unset;
  }

  ul {
    // padding-inline-start: 0;
    padding: 0 24px;

    @include mq-md-up {
      padding: 0;
    }
  }

  @include mq-md-down {
    &:focus-within {
      z-index: 3;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.menuPrimaryNavContainer::-webkit-scrollbar {
  display: none;
}

.primaryMenuWhite {
  color: inherit;

  li > a {
    color: $primary--white !important;

    &.primaryMenuMobileActiveLabel {
      &::after {
        background-image: url('../../../../images/icons/chevron-up-white.svg') !important;
      }
    }
  }

  &:hover {
    .trialBtn {
      a {
        opacity: 1 !important;
      }
    }
  }

  &:hover > li > a {
    @include mq-md-up {
      opacity: 0.64;
      transition: color 0.32s ease-in-out, opacity 0.32s ease-in-out;
    }
  }

  li > div > ul > li {
    a {
      @include mq-md-up {
        color: $grey--dark !important;
      }

      &:hover {
        color: $grey--medium !important;
        div {
          color: $primary--blue !important;
        }
      }
    }
    ul > li > a {
      &:hover {
        color: $primary--blue !important;
      }
      div {
        &:hover {
          color: $primary--blue !important;
        }
      }
    }
  }

  li > a {
    &:hover {
      color: $primary--white !important;
      opacity: 1;
      transition: color 0.32s ease-in-out, opacity 0.32s ease-in-out;
      cursor: default !important;
      div:hover {
        color: $primary--white;
        transition: color 0.32s ease-in-out, opacity 0.32s ease-in-out;
        cursor: pointer !important;
      }
      p:hover {
        cursor: pointer !important;
      }
    }
    a[href^='/pricing/'] > div:hover {
      color: $primary--white !important;
    }

    a[href^='/sign-in/'] > div:hover {
      color: $primary--white !important;
    }
  }
}

.primaryMenuBlue {
  color: $primary--blue;

  &:hover {
    .trialBtn {
      a {
        opacity: 1 !important;
      }
    }
  }

  &:hover > li > a {
    @include mq-md-up {
      opacity: 0.64;
      transition: color 0.32s ease-in-out, opacity 0.32s ease-in-out;
    }
  }

  li > div > ul > li {
    a {
      &:hover {
        color: $grey--medium !important;
        div {
          color: $primary--blue !important;
        }
      }
    }
  }
  li > a {
    &:hover {
      opacity: 1;
      transition: color 0.32s ease-in-out, opacity 0.32s ease-in-out;
      cursor: default;

      @include mq-md-up {
        color: $primary--blue;
      }

      div:hover {
        transition: color 0.32s ease-in-out, opacity 0.32s ease-in-out;
        cursor: pointer !important;
      }

      p:hover {
        cursor: pointer !important;
      }
    }

    &:last-child {
      &:hover {
        color: $primary--white;
      }
    }

    a[href^='/pricing/'] > div:hover {
      color: $primary--blue !important;
    }

    a[href^='/sign-in/'] > div:hover {
      color: $primary--blue !important;
    }
  }
}

%menu-item {
  border-radius: $mini--spacing;
  color: $grey--dark;
  cursor: default;
  display: inline-block;
  line-height: 25px;
  outline: 0;
  padding: 0 multiply($mini--spacing, 3);
  position: relative;
  text-decoration: none;
  transition: color 0.32s ease-in-out, opacity 0.32s ease-in-out;
  vertical-align: middle;

  @include mq-md-up {
    line-height: multiply($primary--spacing, 5);
  }

  @media screen and (max-width: multiply($secondary--spacing, 427.5)) {
    padding: 0;
  }

  &[href] {
    cursor: pointer;
  }

  &:hover {
    @include mq-md-up {
      color: $primary--blue;
    }
  }

  &:focus {
    box-shadow: 0 0 0 3 rgba($primary--blue, 0.16);
  }

  &:active {
    box-shadow: none;
    opacity: 0.64;
    transition: none;
  }
}

.primaryMenu {
  display: block;
  margin-bottom: 35px;
  position: relative;

  @include mq-md-up {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;

    &:nth-of-type(n + 2) {
      margin-left: multiply($primary--spacing, 2.5);
    }

    &:nth-last-of-type(2) {
      margin-left: multiply($primary--spacing, 4.5);

      @include mq-md {
        margin-left: multiply($primary--spacing, 2);
      }

      &:active {
        opacity: 0.64;
      }
    }

    &:last-child {
      margin-left: multiply($primary--spacing, 4);

      @include mq-md {
        margin-left: multiply($primary--spacing, 2);
      }

      &:active {
        opacity: 0.64;
      }
    }
  }

  a {
    @extend %menu-item;
    padding: 0;

    @include mq-md-down {
      display: block;
    }

    &:focus {
      box-shadow: none;
    }
  }

  &.current-menu-item {
    a {
      color: rgba($primary--white, 0.4);
      position: relative;
    }
  }

  [aria-current] {
    color: $primary--gray-text !important;
    opacity: 0.64;
  }
}

.subMenuTrigger {
  border-radius: $mini--spacing;
  line-height: multiply($primary--spacing, 3);
  transition: background-color 0.32s ease-in-out, color 0.32s ease-in-out;

  @include mq-md-up {
    margin: 0;
  }
}

/* stylelint-disable no-descending-specificity */

.resourcesSubMenu {
  ul {
    background: $primary--white;
    border-radius: multiply($secondary--spacing, 2);
    padding: 0 !important;
    margin: 24px 0 0 24px;
    width: auto;

    @include mq-md-up {
      margin: 0;
      padding: 24px !important;
    }
  }

  a {
    @include mq-lg-up {
      padding-right: multiply($primary--spacing, 5);
    }

    &::after {
      // new mobile version here...
      background-image: url('../../../../images/icons/chevron-down.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      display: inline-block;
      height: 12px;
      margin-left: multiply($secondary--spacing, 2);
      margin-top: divide($secondary--spacing, 2);
      position: absolute;
      right: $primary--spacing;
      top: 50%;
      transform: translateY(-50%);
      vertical-align: middle;
      width: 20px;

      @include mq-md-up {
        display: none;
      }

      @include mq-md-down {
        position: absolute;
        right: $primary--spacing;
        top: 50%;
        transform: translateY(-50%);
      }

      @include mq-lg-up {
        background-image: url('../../../../images/icons/expand-chevron-black-sprite.svg');
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: multiply($primary--spacing, 6);
        content: '';
        display: block;
        height: multiply($primary--spacing, 3);
        margin-left: multiply($secondary--spacing, 2);
        margin-top: divide($secondary--spacing, 2);
        position: absolute;
        right: $primary--spacing;
        top: 50%;
        transform: translateY(-50%);
        vertical-align: middle;
        width: multiply($primary--spacing, 3);
      }
    }
  }

  /* hover on the LI */
  &:hover {
    @include mq-md-up {
      a {
        &::after {
          background-position: multiply($primary--spacing, -3) 0 !important;
        }
      }
    }
  }

  .subMenu {
    display: none;
    padding: $primary--spacing;

    @include mq-md-up {
      background: $primary--white;
      border-radius: $mini--spacing;
      border: divide($secondary--spacing, 2) solid $grey--weak;
      box-shadow: 0 $primary--spacing multiply($primary--spacing, 3)
        rgba($primary--black, 0.08);
      grid-template-columns: repeat(1, 1fr);
      left: 50%;
      padding: multiply($primary--spacing, 3);
      position: absolute;
      width: multiply($primary--spacing, 40);
    }

    a::after {
      display: none;
    }

    &.active {
      display: block;

      @include mq-md-up {
        display: none;
      }
    }
  }

  @include mq-md-up {
    &:hover {
      .subMenu {
        animation: fadeIn 0.3s ease-in-out;
        display: grid;
        opacity: 1;
        transform: translateX(-50%) translateY(0);
      }
    }
  }
}

.subMenuItem {
  border-radius: 0px;
  display: block;
  list-style: none;
  transition: background-color 0.3s ease-in-out;
  border-bottom: divide($secondary--spacing, 2) solid $grey--pale;

  @include mq-md-up {
    border-radius: 4px;
  }

  .sub-menu__item--external {
    position: relative;

    &::after {
      background-image: url('../../../../images/icons/external-link.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: multiply($primary--spacing, 2);
      content: '';
      display: inline-block;
      height: multiply($primary--spacing, 2);
      margin-left: multiply($primary--spacing, 0.5);
      vertical-align: middle;
      width: 1rem;
    }
  }

  @include mq-md-up {
    display: inline-block;
    border-bottom: 0;
  }

  &.current-menu-item {
    a {
      color: $grey--medium;
      opacity: 0.64;
    }
  }

  a {
    border-radius: $mini--spacing;
    display: block;
    line-height: 1.5;
    padding: $primary--spacing multiply($mini--spacing, 3);
    position: relative;

    span {
      position: relative;

      &::after {
        background-image: url('../../../../images/icons/external-link.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: multiply($primary--spacing, 2);
        content: '';
        display: inline-block;
        height: multiply($primary--spacing, 2);
        margin-left: multiply($primary--spacing, 0.5);
        vertical-align: middle;
        width: 1rem;
      }
    }

    &::after {
      background-image: none;
    }

    &::before {
      background: url('../../../../images/icons/arrow-header-blue.svg');
      background-size: multiply($primary--spacing, 2);
      content: '';
      height: multiply($primary--spacing, 2);
      opacity: 0;
      position: absolute;
      right: multiply($mini--spacing, 3);
      top: 50%;
      transform: translateY(-50%);
      transition: opacity 0.3s ease-in-out;
      width: multiply($primary--spacing, 2);

      @include mq-md-up {
        display: none;
      }

      @include mq-lg-up {
        display: block;
      }
    }

    &:hover {
      color: $primary--blue;

      div {
        color: $primary--blue !important;
        transition: color 0.3s ease-in-out;
      }

      span {
        color: $primary--blue;
        transition: color 0.3s ease-in-out;
      }

      &::before {
        opacity: 1;
      }
    }
  }

  &:hover {
    background-color: $blue--pale;
  }

  &:active {
    opacity: 0.64;
  }
}

/* FEATURES NAV */
.globalFeaturesWrapper {
  background: transparent;
  border-radius: multiply($secondary--spacing, 2);
  left: 0;
  position: relative;
  top: 100%;
  width: 100%;

  @include mq-md-up {
    background: $primary--white;
    border-radius: 0;
    box-shadow: 0 multiply($primary--spacing, 2) multiply($primary--spacing, 3)
      rgba($primary--black, 0.08);
    position: absolute;
  }
}

.subMenuDouble {
  &:hover {
    /* this makes the hover area bigger */
    &::before {
      content: '';
      display: block;
      height: 4rem;
      left: 0;
      margin-left: -15rem;
      position: absolute;
      top: 3rem;
      width: calc(100% + 30rem);
      z-index: 0;
    }

    @include mq-md-up {
      position: unset;

      .globalFeaturesWrapper {
        animation: fadeInLarge 0.32s ease-in-out;
        border-bottom: divide($secondary--spacing, 2) solid $grey--weak;
        border-top: divide($secondary--spacing, 2) solid $grey--weak;
      }

      ul {
        display: flex;
        opacity: 1;
        transform: translateY(0);
      }
    }

    > :first-child {
      &::after {
        @include mq-md-up {
          background-position: multiply($primary--spacing, -3) 0;
        }
      }
    }
  }

  > :first-child {
    @include mq-lg-up {
      padding-right: multiply($primary--spacing, 5);
    }

    &::after {
      // new mobile version here...
      background-image: url('../../../../images/icons/chevron-down.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      display: inline-block;
      height: 12px;
      margin-left: multiply($secondary--spacing, 2);
      margin-top: divide($secondary--spacing, 2);
      position: absolute;
      right: $primary--spacing;
      top: 50%;
      transform: translateY(-50%);
      vertical-align: middle;
      width: 20px;

      @include mq-md-up {
        display: none;
      }

      @include mq-md-down {
        position: absolute;
        right: $primary--spacing;
        top: 50%;
        transform: translateY(-50%);
      }

      @include mq-lg-up {
        background-image: url('../../../../images/icons/expand-chevron-black-sprite.svg');
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: multiply($primary--spacing, 6);
        content: '';
        display: block;
        height: multiply($primary--spacing, 3);
        margin-left: multiply($secondary--spacing, 2);
        margin-top: divide($secondary--spacing, 2);
        position: absolute;
        right: $primary--spacing;
        top: 50%;
        transform: translateY(-50%);
        vertical-align: middle;
        width: multiply($primary--spacing, 3);
      }
    }
  }

  ul {
    background: $primary--white;
    border-radius: multiply($secondary--spacing, 2);
    display: none;
    justify-content: space-between;
    list-style: none;
    margin: auto;
    max-width: multiply($tertiary--spacing, 420);
    padding: multiply($primary--spacing, 2);
    top: 100%;

    @include mq-md-down {
      background: transparent;
      border: 0;
      box-shadow: none;
      padding: 0;
    }

    ul {
      box-shadow: none;
      max-width: 100%;
      top: auto;
    }

    @include mq-md-up {
      padding: multiply($primary--spacing, 4) multiply($primary--spacing, 3)
        multiply($primary--spacing, 5);
    }

    @include mq-xl-up {
      padding: multiply($primary--spacing, 5) 0;
    }

    .subCol {
      @include mq-md-down {
        margin-bottom: multiply($primary--spacing, 2);
      }

      @include mq-md-up {
        padding-right: multiply($primary--spacing, 2);
        width: 40%;
      }

      @include mq-lg-up {
        padding-right: multiply($primary--spacing, 4);
        width: multiply($primary--spacing, 40);
      }

      > :first-child {
        color: #707070;
        cursor: default;
        font-size: multiply($secondary--spacing, 7);
        font-weight: 500;
        letter-spacing: divide($secondary--spacing, 2);
        line-height: 24px;
        margin: 20px 0 16px 0;
        padding: 0;
        text-transform: uppercase;

        @include mq-md-up {
          line-height: 40px;
          margin: 0;
          padding: 0 multiply($primary--spacing, 1.5);
        }
      }

      ul {
        background: $primary--white;
        border: 0;
        display: flex;
        flex-direction: column;
        margin: 0 0 0 24px;
        position: relative;
        width: auto;

        @include mq-md-up {
          margin: 0;
          padding: 0;
        }
      }
    }

    .subGrid {
      @include mq-md-down {
        margin-bottom: multiply($primary--spacing, 2);
      }

      @include mq-md-up {
        padding-left: multiply($primary--spacing, 8);
        width: 60%;
      }

      @include mq-lg-up {
        padding-left: multiply($primary--spacing, 2);
        width: multiply($primary--spacing, 55);
      }

      > :first-child {
        color: #707070;
        cursor: default;
        font-size: multiply($secondary--spacing, 7);
        font-weight: 500;
        letter-spacing: divide($secondary--spacing, 2);
        line-height: 24px;
        margin: 20px 0 16px 0;
        padding: 0;
        text-transform: uppercase;

        @include mq-md-up {
          line-height: 40px;
          margin: 0;
          padding: 0 multiply($primary--spacing, 1.5);
        }
      }

      ul {
        background: white;
        border: unset;
        display: flex;
        flex-direction: column;
        margin: 0 0 0 24px;
        position: relative;
        width: unset;

        @include mq-md-up {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          margin: 0;
          padding: 0;
        }
      }

      &.specialtiesColumns {
        margin-bottom: $primary--spacing;

        .subMenu {
          display: block;
          columns: 2;

          li {
            min-width: 100%;

            a {
              padding: multiply($secondary--spacing, 2.5)
                multiply($primary--spacing, 3.5)
                multiply($secondary--spacing, 2.5)
                multiply($primary--spacing, 1.5);
            }

            @include mq-md-up {
              margin: $tertiary--spacing 0;
            }
          }

          @include mq-md-down {
            background: $primary--white;
            columns: 1;
            margin: 0 0 0 multiply($tertiary--spacing, 8);

            li {
              border-bottom: divide($secondary--spacing, 2) solid $grey--pale;

              a {
                padding: multiply($primary--spacing, 2.25)
                  multiply($secondary--spacing, 6);
              }

              &:last-child {
                border-bottom: none;
              }
            }
          }
        }

        > a {
          display: none;
        }
      }

      &.productsGrid {
        > a {
          display: none;
        }

        @include mq-lg-up {
          max-width: multiply($primary--spacing, 69);
        }

        .subMenu {
          display: grid;
          grid-template-columns: 1fr;

          li {
            min-width: 100%;

            a {
              padding: $primary--spacing multiply($secondary--spacing, 14)
                $primary--spacing multiply($tertiary--spacing, 4);

              p.menuItemDescription {
                max-width: 100%;
              }

              p.menuItemDescription:hover {
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    .subVideo,
    .subVideoSpecialty {
      cursor: default;

      @include mq-md-up {
        display: none;
      }

      @include mq-lg-up {
        display: list-item;
        padding-left: multiply($primary--spacing, 2);
        width: 40%;
      }

      @include mq-xl-up {
        padding-left: multiply($primary--spacing, 4);
      }

      > :first-child {
        color: #707070;
        cursor: default;
        font-size: multiply($secondary--spacing, 7);
        font-weight: 500;
        letter-spacing: 1px;
        line-height: 24px;
        margin: 20px 0 16px 0;
        padding: 0;
        text-transform: uppercase;

        @include mq-md-up {
          line-height: 40px;
          margin: 0;
          padding: 0 multiply($primary--spacing, 1.5);
        }
      }
    }

    .videoButtonIcon {
      background: url('../../../../images/icons/play-arrow-large-white.svg');
      cursor: pointer;
      height: multiply($primary--spacing, 5);
      width: multiply($primary--spacing, 5);
    }

    .subVideoSpecialty {
      > a {
        pointer-events: none;
      }

      @include mq-md-down {
        display: none;
      }

      &.no-label {
        > a {
          display: none;
        }
      }
    }

    .subVideoProduct {
      @extend .subVideoSpecialty;

      &.no-label {
        > a {
          display: inline-block;
          pointer-events: all;

          figure.productImgContainer {
            height: multiply($secondary--spacing, 125);
            max-width: multiply($primary--spacing, 55.8);
            border-radius: multiply($secondary--spacing, 2);

            img.productImg {
              display: block;
              height: 100%;
              object-fit: cover;
              object-position: center;
              width: 100%;

              @media screen and (max-width: multiply($secondary--spacing, 614.5)) {
                object-position: left top;
              }
            }
          }

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  .subMenu {
    &.active {
      display: block;
      position: relative;
      width: 100%;
    }
  }
  ß .subColSpecialties {
    cursor: default;

    > a:first-child {
      color: #444;
      font-size: multiply($primary--spacing, 2.5);
      letter-spacing: 0;
      line-height: 20px;
      max-width: multiply($primary--spacing, 32.5);
      text-transform: none;

      @include mq-md-down {
        font-size: multiply($primary--spacing, 2);
        font-weight: 400;
        max-width: 100%;
        padding: 0;
      }
    }

    .subMenuItem {
      &:hover {
        background-color: transparent;
      }

      &:active {
        opacity: 1;
      }
    }

    a {
      pointer-events: none;
    }

    @include mq-md-down {
      margin-bottom: 12px !important;
      margin-top: 16px;
      padding: 0;

      > p {
        display: none;
      }

      li {
        a {
          max-width: multiply($primary--spacing, 37);
          padding-left: 0;
        }
      }

      > ul:first-of-type {
        display: none;
      }

      .subMenuCopy {
        display: none;
      }
    }
  }

  &.subColProducts {
    @include mq-md-down {
      > p {
        display: inline-block;
        font-size: multiply($primary--spacing, 2);
        font-weight: 100;
        max-width: 100%;
      }
    }
  }
}

.subMenuDoubleWhite {
  cursor: default;
  position: unset;

  /* this makes the hover area bigger  */
  &:hover {
    &::before {
      content: '';
      display: block;
      height: 4rem;
      left: 0;
      margin-left: -15rem;
      position: absolute;
      top: 3rem;
      width: calc(100% + 30rem);
      z-index: 0;
    }

    @include mq-md-up {
      .globalFeaturesWrapper {
        animation: fadeInLarge 0.32s ease-in-out;
        border-bottom: 1px solid $grey--weak;
        border-top: 1px solid $grey--weak;
      }

      ul {
        display: flex;
        opacity: 1;
        transform: translateY(0);
      }
    }

    > :first-child {
      &::after {
        background-position: multiply($primary--spacing, -3) 0;
      }
    }
  }

  > :first-child {
    @include mq-lg-up {
      padding-right: multiply($primary--spacing, 5);
    }

    /* Features menu */
    &::after {
      background-image: url('../../../../images/icons/expand-chevron-white-sprite.svg');
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: multiply($primary--spacing, 6);
      content: '';
      display: inline-block;
      height: multiply($primary--spacing, 3);
      margin-left: multiply($secondary--spacing, 2);
      margin-top: divide($secondary--spacing, 2);
      vertical-align: middle;
      width: multiply($primary--spacing, 3);

      @include mq-md-up {
        display: none;
      }

      @include mq-md-down {
        position: absolute;
        right: $primary--spacing;
        top: 50%;
        transform: translateY(-50%);
      }

      @include mq-lg-up {
        display: block;
        position: absolute;
        right: $primary--spacing;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  ul {
    background: $primary--white;
    display: none;
    justify-content: space-between;
    list-style: none;
    margin: auto;
    max-width: multiply($tertiary--spacing, 420);
    padding: multiply($primary--spacing, 2);
    top: 100%;

    @include mq-md-down {
      border: 0;
      box-shadow: none;
      padding: $primary--spacing;
    }

    ul {
      box-shadow: none;
      max-width: 100%;
      top: auto;
    }

    @include mq-md-up {
      padding: multiply($primary--spacing, 4) multiply($primary--spacing, 3)
        multiply($primary--spacing, 5);
    }

    @include mq-xl-up {
      padding: multiply($primary--spacing, 5) 0;
    }

    .subCol {
      @include mq-md-down {
        margin-bottom: multiply($primary--spacing, 2);
      }

      @include mq-md-up {
        padding-right: multiply($primary--spacing, 2);
        width: 40%;
      }

      @include mq-lg-up {
        padding-right: multiply($primary--spacing, 4);
        width: multiply($primary--spacing, 40);
      }

      > :first-child {
        color: $grey--medium;
        cursor: default;
        font-size: multiply($secondary--spacing, 7);
        font-weight: 500;
        letter-spacing: divide($secondary--spacing, 2);
        padding: 0 multiply($primary--spacing, 1.5);
        text-transform: uppercase;
      }

      ul {
        border: 0;
        display: flex;
        flex-direction: column;
        padding: 0;
        position: relative;
        width: auto;
      }
    }

    .subGrid {
      @include mq-md-down {
        margin-bottom: multiply($primary--spacing, 2);
      }

      @include mq-md-up {
        padding-left: multiply($primary--spacing, 8);
        width: 60%;
      }

      @include mq-lg-up {
        padding-left: multiply($primary--spacing, 2);
        width: multiply($primary--spacing, 55);
      }

      > :first-child {
        color: #707070;
        cursor: default;
        font-size: multiply($secondary--spacing, 7);
        font-weight: 500;
        letter-spacing: divide($secondary--spacing, 2);
        padding: 0 multiply($primary--spacing, 1.5);
        text-transform: uppercase;
      }

      ul {
        border: unset;
        display: flex;
        flex-direction: column;
        padding: 0;
        position: relative;
        width: unset;

        @include mq-md-up {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
        }
      }

      &.specialtiesColumns {
        margin-bottom: $primary--spacing;

        .subMenu {
          display: block;
          columns: 2;

          li {
            min-width: 100%;

            a {
              padding: multiply($secondary--spacing, 2.5)
                multiply($primary--spacing, 3.5)
                multiply($secondary--spacing, 2.5)
                multiply($primary--spacing, 1.5);
            }

            @include mq-md-up {
              margin: $tertiary--spacing 0;
            }
          }

          @include mq-md-down {
            columns: 1;
            padding: 0 0 0 multiply($primary--spacing, 3);

            li {
              border-bottom: divide($secondary--spacing, 2) solid $grey--pale;

              a {
                padding: multiply($primary--spacing, 2.25)
                  multiply($secondary--spacing, 6);
              }

              &:last-child {
                border-bottom: none;
              }
            }
          }
        }

        > p {
          display: none;
        }
      }

      &.productsGrid {
        @include mq-lg-up {
          max-width: multiply($primary--spacing, 69);
        }

        .subMenu {
          display: grid;
          grid-template-columns: 1fr;

          li {
            min-width: 100%;

            a {
              padding: $primary--spacing multiply($secondary--spacing, 14)
                $primary--spacing multiply($tertiary--spacing, 4);

              p.menuItemDescription {
                max-width: 100%;
              }
            }
          }
        }
      }
    }

    .subVideo,
    .subVideoSpecialty {
      cursor: default;

      @include mq-md-up {
        display: none;
      }

      @include mq-lg-up {
        display: list-item;
        padding-left: multiply($primary--spacing, 2);
        width: 40%;
      }

      @include mq-xl-up {
        padding-left: multiply($primary--spacing, 4);
      }

      > :first-child {
        color: $grey--medium;
        cursor: default;
        font-size: multiply($secondary--spacing, 7);
        font-weight: 500;
        letter-spacing: divide($secondary--spacing, 2);
        padding: 0 multiply($primary--spacing, 1.5);
        text-transform: uppercase;
      }
    }

    .videoButtonIcon {
      background: url('../../../../images/icons/play-arrow-large-white.svg');
      cursor: pointer;
      height: multiply($primary--spacing, 5);
      width: multiply($primary--spacing, 5);
    }
  }

  .subMenu {
    &.active {
      display: block;
      position: relative;
      width: 100%;
    }
  }
}

.menuItemDescription {
  color: #707070;
  font-size: multiply($secondary--spacing, 6.5);

  @include mq-md-down {
    padding-right: multiply($primary--spacing, 5);
  }

  @include mq-lg-up {
    max-width: multiply($primary--spacing, 24);
  }

  @include mq-xl-up {
    max-width: multiply($primary--spacing, 30);
  }
}

.navIsHovered {
  &.primaryMenu {
    > a {
      opacity: 0.64;
      transition: color 0.32s ease-in-out, opacity 0.32s ease-in-out;
    }

    &:hover {
      > a {
        color: $primary--blue;
        opacity: 1;
      }

      > a[href] {
        &:active {
          opacity: 0.64;
          transition: none;
        }
      }
    }
  }
}

.btnBlue,
.btnBlueDim,
.btnPurple {
  background-color: transparent !important;
  color: $primary--white !important;

  &.hamburger {
    background-image: url('../../../../images/icons/menu-hamburger-white.svg') !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 22px;
    width: 33px;

    &.hamburgerActive {
      background-image: url('../../../../images/icons/menu-close-white.svg') !important;
    }
  }

  &:hover {
    color: $primary--white !important;
  }
}

.navMobileBtn {
  background: $primary--white;
  color: $primary--black;
  cursor: pointer;
  line-height: multiply($secondary--spacing, 19);
  outline: none;
  padding: $micro--spacing multiply($mini--spacing, 3);

  &.blue,
  &.purple,
  &.colored,
  &.orange,
  &.darkBlue {
    background: transparent;
    color: $primary--white !important;

    &:hover {
      color: $primary--white !important;
    }
  }

  &.pink {
    background: transparent;
  }

  @include mq-md-up {
    display: none;
  }
}

.submenuActive {
  &,
  ul {
    display: block !important;
    position: relative;
    width: 100%;
  }
}

[aria-current] {
  color: $primary--gray-text;
  opacity: 0.64;
  text-decoration: none;
}

.transparentBg {
  @include mq-md-up {
    background: transparent;
  }
}

// NEW Mobile only styles
.primaryMenuMobile {
  font-size: 20px;
  font-weight: 500;

  @include mq-md-up {
    font-size: 16px;
    font-weight: 400;
  }
}

.primaryMenuMobileLink {
  @extend .primaryMenuMobile;
}

.signInMobile {
  @extend .primaryMenu;

  @include mq-md-down {
    list-style: none;
    background: white;
    border: 1px solid #ff7a5c;
    text-decoration: none;
    border-radius: 4px;
    margin-bottom: 16px;
    margin-left: 0px;
    margin-right: 0px;

    > a {
      text-decoration: none;
      line-height: 48px;
      text-align: center;

      > div {
        color: #ff7a5c !important;
        font-size: 16px;
      }
    }
  }
}

.primaryMenuMobileActiveLabel {
  &::after {
    @include mq-md-down {
      background-image: url('../../../../images/icons/chevron-up.svg') !important;
    }
  }
}

.hamburger {
  background-image: url('../../../../images/icons/menu-hamburger.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 22px;
  width: 33px;

  &.hamburgerActive {
    background-image: url('../../../../images/icons/menu-close.svg');
  }
}
