@use "main" as *;

@mixin mob-nav-items {
  display: grid;
}

.mainNavbar {
  font-size: 1.6rem;
  padding: 0 2.4rem;
  background-color: #fff;
  min-height: 7.2rem;

  @include media-query('md', 'up') {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 auto;
  }

  &.isSticky {
    animation: fadeInSticky 0.32s ease-in-out;
    box-shadow: 0 8px 24px rgba(51, 51, 51, 0.12);
    left: 0;
    opacity: 1;
    pointer-events: auto;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .logoContainer {
    height: 7.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logoLink {
      color: #1371c8;
    }

    .logo {
      fill: currentColor;
      height: 2.4rem;
      width: 16.5rem;
    }

    @include media-query('md', 'up') {
      width: fit-content;

      .menuBtn {
        display: none;
      }
    }
  }

  .navMenuItems {
    display: none;

    @include media-query('md', 'up') {
      display: flex;
      gap: 1rem;
    }
  }

  @include media-query('md', 'down') {
    &.isOpen {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 100vh;

      .navMenuItems {
        @include mob-nav-items;

        overflow-x: hidden;
        overflow-y: scroll;
        height: 100vh;
        scrollbar-width: none;

        &::-webkit-scrollbar {
          display: none;
        }

        .isPricing {
          margin-bottom: 25rem;
        }

        .ctasWrapper {
          @include mob-nav-items;

          padding: 0 2.4rem;
          position: fixed;
          bottom: 40px;
          left: 0;
          width: 100%;

          .cta {
            background-color: #1371c8;
          }
        }
      }
    }
  }
}

@keyframes fadeInSticky {
  0% {
    opacity: 0;
    top: -20%;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
