@use './functions' as *;

@mixin media-query($bp, $direction) {
  @if get-bp($bp) {
    @if $direction == 'up' {
      @media (min-width: get-bp($bp)) {
        @content;
      }
    } @else if $direction == 'down' {
      @media (max-width: get-bp($bp)) {
        @content;
      }
    } @else {
      @error "Please enter a valid direction -> (up or down)";
    }
  } @else {
    @error "Please enter a valid break-point -> (xs, sm, md, lg, xl)";
  }
}

@mixin template-columns($column-amount: 4, $size-gutters: 0) {
  grid-template-columns:
    $size-gutters
    [center-starts]
    repeat($column-amount, minmax(min-content, 1fr))
    [center-ends]
    $size-gutters;
}

@mixin main-grid-layout {
  column-gap: 2.4rem;
  display: grid;
  grid-auto-rows: min-content;
  justify-items: center;

  @include template-columns;

  @include media-query('sm', 'up') {
    @include template-columns(6);
  }

  @include media-query('md', 'up') {
    @include template-columns(8, 8px);
  }

  @include media-query('xl', 'up') {
    @include template-columns(12, 4.4rem);
  }

  > * {
    max-width: 114.4rem;
    width: 100%;

    grid-column: center-starts / center-ends;
  }
}
