@use './functions' as *;

@mixin media-query($bp, $direction) {
  @if get-bp($bp) {
    @if $direction == 'up' {
      @media (min-width: get-bp($bp)) {
        @content;
      }
    } @else if $direction == 'down' {
      @media (max-width: get-bp($bp)) {
        @content;
      }
    } @else {
      @error "Please enter a valid direction -> (up or down)";
    }
  } @else {
    @error "Please enter a valid break-point -> (xs, sm, md, lg, xl)";
  }
}

@mixin template-columns($columns-amount: 4, $sizes-column: 0) {
  grid-template-columns:
    [ full-starts ]
    $sizes-column
    [ center-starts ]
    repeat($columns-amount, minmax(min-content, 7.338rem))
    [ center-ends ]
    $sizes-column
    [ full-ends ];
}

@mixin main-grid-layout {
  column-gap: 2.4rem;
  display: grid;
  grid-auto-rows: min-content;

  @include template-columns;

  @include media-query('sm', 'up') {
    @include template-columns(6);
  }

  @include media-query('md', 'up') {
    @include template-columns(8, 0.8rem);
  }

  @include media-query('lg', 'up') {
    @include template-columns(12, 4.4rem);
  }

  @include media-query('xl', 'up') {
    @include template-columns(12, minmax(4.4rem, 1fr));
  }
}
