@use 'main.scss' as *;

.spLogo {
  width: 165px;
  height: 24px;
  fill: #1371c8;
}

.cpoy {
  font-size: 24px;
  display: flex;
  align-items: center;
}

.checkMark {
  display: block;
  width: 24px;
  height: 24px;
  fill: red;
}

.chevronDown {
  width: 24px;
  height: 24px;
}

.heading {
  @include media-query('xs', 'up') {
    background-color: pink;
  }

  @include media-query('sm', 'up') {
    background-color: aqua;
  }

  @include media-query('md', 'up') {
    background-color: yellow;
  }

  @include media-query('lg', 'up') {
    background-color: green;
  }

  @include media-query('xl', 'up') {
    background-color: initial;
  }

  &.red {
    color: red;
  }

  &.blue {
    color: blue;
  }

  &.yellow {
    color: yellow;
  }

  svg {
    height: 100px;
  }
}
